*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}

nav{
    width: 100px;
    height: 75px;
    line-height: 75px;
    padding: 0px;
    position: 100px;
    background-image: linear-gradient(darkorange,red);
}